orjson
torch
git+https://github.com/awslabs/gluonts
pytorch-lightning
datasets
xformers
git+https://github.com/ml-jku/hopfield-layers
etsformer-pytorch
reformer_pytorch
einops
opt_einsum
pykeops
scipy
apex
git+https://github.com/microsoft/torchscale
